@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-tap-highlight-color: transparent;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea,
select {
  font-family: inherit;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input {
  border-radius: 0;
}

textarea {
  resize: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: "Proxima Soft";
  src: url("../../fonts/ProximaSoft-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Master Zoo";
  src: url("../../fonts/MasterZooSans-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
:root {
  --header-mobile: 991.98px;
  --color-white: #ffffff;
  --color-dark: #000000;
  --color-grey: #dfcce6;
  --color-main: #1cb600;
  --color-main-second: #c2d66e;
  --color-selection: #acf79e;
  --background-page: var(--color-main);
  --font-family: "Proxima Soft";
}

body {
  background-color: var(--background-page);
  font-family: var(--font-family);
  color: var(--color-dark);
  /* Если меньше контейнера */
  font-size: 16px;
  font-weight: 500;
}
@media (max-width: 630px) {
  body {
    font-size: calc(
        14px + 2 *
          ((100vw - 320px) / 310)
      );
  }
}
body ::selection {
  background-color: var(--color-selection);
  color: var(--color-white);
}
body._lock-scroll {
  overflow: hidden;
}
@media (any-hover: hover) {
  body::-webkit-scrollbar {
    width: 16px;
  }
  body::-webkit-scrollbar-track {
    background: var(--color-white);
  }
  body::-webkit-scrollbar-thumb {
    background-color: #bbbbbb;
    border-radius: 20px;
    border: 3px solid var(--color-white);
  }
  body::-webkit-scrollbar-thumb:hover {
    background-color: #999999;
  }
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

._container {
  padding: 15px;
  margin: 0px auto;
  max-width: 630px;
}

.page {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
@media (max-width: 1919.98px) {
  .page {
    /* Всегда */
    padding-bottom: calc(
      220px + -220 * ((100vw - 320px) / 1600)
    );
  }
}
@media (max-width: 1219.98px) {
  .page {
    padding-bottom: 220px;
  }
}

section {
  margin: auto;
  width: 100%;
}

.action__body {
  /* Если меньше контейнера */
  padding-top: 50px;
  /* Если меньше контейнера */
  padding-right: 50px;
  /* Если меньше контейнера */
  padding-left: 50px;
  /* Если меньше контейнера */
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 10;
  border-radius: 16px;
  background-color: var(--color-white);
}
@media (max-width: 630px) {
  .action__body {
    padding-top: calc(
        30px + 20 *
          ((100vw - 320px) / 310)
      );
  }
}
@media (max-width: 630px) {
  .action__body {
    padding-right: calc(
        7px + 43 *
          ((100vw - 320px) / 310)
      );
  }
}
@media (max-width: 630px) {
  .action__body {
    padding-left: calc(
        7px + 43 *
          ((100vw - 320px) / 310)
      );
  }
}
@media (max-width: 630px) {
  .action__body {
    padding-bottom: calc(
        40px + 20 *
          ((100vw - 320px) / 310)
      );
  }
}
.action__logo {
  /* Если меньше контейнера */
  width: 250px;
}
@media (max-width: 630px) {
  .action__logo {
    width: calc(
        150px + 100 *
          ((100vw - 320px) / 310)
      );
  }
}
.action__logo img {
  max-width: 100%;
}
.action__logo:not(:last-child) {
  /* Если меньше контейнера */
  margin-bottom: 45px;
}
@media (max-width: 630px) {
  .action__logo:not(:last-child) {
    margin-bottom: calc(
        35px + 10 *
          ((100vw - 320px) / 310)
      );
  }
}
.action__items {
  /* Если меньше контейнера */
  row-gap: 60px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
@media (max-width: 630px) {
  .action__items {
    row-gap: calc(
        40px + 20 *
          ((100vw - 320px) / 310)
      );
  }
}
.action__items:not(:last-child) {
  /* Если меньше контейнера */
  margin-bottom: 45px;
}
@media (max-width: 630px) {
  .action__items:not(:last-child) {
    margin-bottom: calc(
        35px + 10 *
          ((100vw - 320px) / 310)
      );
  }
}
.action__send {
  padding: 5px 25px;
  min-height: 50px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 100px;
  background-color: var(--color-main);
  /* Если меньше контейнера */
  font-size: 20px;
  color: var(--color-main-second);
}
@media (max-width: 630px) {
  .action__send {
    font-size: calc(
        16px + 4 *
          ((100vw - 320px) / 310)
      );
  }
}
@media (any-hover: hover) {
  .action__send {
    transition: color 0.2s ease 0s;
  }
  .action__send:hover {
    color: var(--color-white);
  }
  .action__send:active {
    transform: translateY(2px);
  }
}
.action__element {
  width: 540px;
  position: absolute;
  left: 280px;
  bottom: 60px;
  z-index: 2;
}
.action__element img {
  max-width: 100%;
}
@media (max-width: 1919.98px) {
  .action__element {
    /* Всегда */
    width: calc(
      210px + 330 * ((100vw - 320px) / 1600)
    );
    /* Всегда */
    left: calc(
      -280px + 560 * ((100vw - 320px) / 1600)
    );
  }
}
@media (max-width: 1219.98px) {
  .action__element {
    /* Если меньше контейнера */
    width: 250px;
    /* Если меньше контейнера */
    left: 140px;
    bottom: -20px;
  }
}
@media (max-width: 1219.98px) and (max-width: 630px) {
  .action__element {
    width: calc(
        230px + 20 *
          ((100vw - 320px) / 310)
      );
  }
}
@media (max-width: 1219.98px) and (max-width: 630px) {
  .action__element {
    left: calc(
        40px + 100 *
          ((100vw - 320px) / 310)
      );
  }
}

.action-items__row {
  display: none;
}
.action-items__row:not(:first-child) {
  animation: animation-show-step 0.8s;
}
.action-items__title {
  /* Если меньше контейнера */
  font-size: 18px;
  line-height: 100%;
  text-align: center;
}
@media (max-width: 630px) {
  .action-items__title {
    font-size: calc(
        17px + 1 *
          ((100vw - 320px) / 310)
      );
  }
}
.action-items__title:not(:last-child) {
  /* Если меньше контейнера */
  margin-bottom: 25px;
}
@media (max-width: 630px) {
  .action-items__title:not(:last-child) {
    margin-bottom: calc(
        20px + 5 *
          ((100vw - 320px) / 310)
      );
  }
}
.action-items__first {
  /* Если меньше контейнера */
  column-gap: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
@media (max-width: 630px) {
  .action-items__first {
    column-gap: calc(
        0px + 20 *
          ((100vw - 320px) / 310)
      );
  }
}
@media (max-width: 479.98px) {
  .action-items__first {
    column-gap: 0;
  }
}
.action-items__third {
  display: flex;
  align-items: flex-start;
}

.action-first__elem {
  display: flex;
  justify-content: center;
  cursor: pointer;
}
@media (any-hover: hover) {
  .action-first__elem:hover .action-first__image {
    animation: animation-rating 1s forwards;
  }
}
.action-first__input:checked + .action-first__item .action-first__title {
  color: var(--color-main-second);
}
.action-first__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.action-first__image {
  /* Если меньше контейнера */
  width: 125px;
  flex: 1 1 auto;
}
@media (max-width: 630px) {
  .action-first__image {
    width: calc(
        55px + 70 *
          ((100vw - 320px) / 310)
      );
  }
}
.action-first__image img {
  max-width: 100%;
}
.action-first__image:not(:last-child) {
  /* Если меньше контейнера */
  margin-bottom: 15px;
}
@media (max-width: 630px) {
  .action-first__image:not(:last-child) {
    margin-bottom: calc(
        10px + 5 *
          ((100vw - 320px) / 310)
      );
  }
}
.action-first__title {
  transition: color 0.2s ease 0s;
  /* Если меньше контейнера */
  font-size: 16px;
  font-weight: 500;
  line-height: 100%;
  text-align: center;
  color: var(--color-main);
}
@media (max-width: 630px) {
  .action-first__title {
    font-size: calc(
        11px + 5 *
          ((100vw - 320px) / 310)
      );
  }
}

.action-second__row {
  gap: 5px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  justify-content: space-between;
  align-items: center;
}
.action-second__row:not(:last-child) {
  margin-bottom: 5px;
}
.action-second__item {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
@media (any-hover: hover) {
  .action-second__item {
    transition: transform 0.2s ease 0s;
  }
  .action-second__item:hover {
    transform: translateY(-3px);
  }
}
.action-second__input:checked + .action-second__button {
  color: var(--color-main-second);
}
.action-second__button {
  transition: color 0.2s ease 0s;
  font-family: "Master Zoo";
  /* Если меньше контейнера */
  font-size: 30px;
  font-weight: 400;
  line-height: 153.3333333333%;
  color: var(--color-main);
}
@media (max-width: 630px) {
  .action-second__button {
    font-size: calc(
        24px + 6 *
          ((100vw - 320px) / 310)
      );
  }
}
.action-second__text {
  /* Если меньше контейнера */
  font-size: 14px;
  text-align: center;
  color: var(--color-main);
}
@media (max-width: 630px) {
  .action-second__text {
    font-size: calc(
        12px + 2 *
          ((100vw - 320px) / 310)
      );
  }
}

.action-third__title {
  font-size: 16px;
  color: var(--color-main);
}
.action-third__title:not(:last-child) {
  margin-right: 12px;
}
.action-third__textarea {
  padding: 0px 10px 5px;
  width: 100%;
  max-height: 180px;
  height: 24px;
  border-bottom: 1px solid var(--color-main);
  font-size: 16px;
}
@media (any-hover: hover) {
  .action-third__textarea::-webkit-scrollbar {
    width: 6px;
  }
  .action-third__textarea::-webkit-scrollbar-track {
    background: var(--color-white);
  }
  .action-third__textarea::-webkit-scrollbar-thumb {
    background-color: #d4d4d4;
    border-radius: 20px;
  }
  .action-third__textarea::-webkit-scrollbar-thumb:hover {
    background-color: #c4c4c4;
  }
}

@keyframes animation-show-step {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes animation-rating {
  0%, 50%, 100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-8deg);
  }
  75% {
    transform: rotate(8deg);
  }
}
@media (max-width: 1219.98px) {
  .thanks {
    /* Если меньше контейнера */
    margin-bottom: 100px;
  }
}
@media (max-width: 1219.98px) and (max-width: 630px) {
  .thanks {
    margin-bottom: calc(
        40px + 60 *
          ((100vw - 320px) / 310)
      );
  }
}
.thanks__body {
  /* Если меньше контейнера */
  padding: 25px;
  position: relative;
  border-radius: 16px;
  animation: animation-show-thanks 0.8s;
  background: var(--color-main-second);
}
@media (max-width: 630px) {
  .thanks__body {
    padding: calc(
        20px + 5 *
          ((100vw - 320px) / 310)
      );
  }
}
.thanks__body ::selection {
  background-color: var(--color-main);
}
.thanks__body:not(:last-child) {
  /* Если меньше контейнера */
  margin-bottom: 65px;
}
@media (max-width: 630px) {
  .thanks__body:not(:last-child) {
    margin-bottom: calc(
        35px + 30 *
          ((100vw - 320px) / 310)
      );
  }
}
.thanks__text {
  /* Если меньше контейнера */
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  color: var(--color-main);
}
@media (max-width: 630px) {
  .thanks__text {
    font-size: calc(
        16px + 2 *
          ((100vw - 320px) / 310)
      );
  }
}
.thanks__text:not(:last-child) {
  margin-bottom: 15px;
}
.thanks__title {
  font-family: "Master Zoo";
  /* Если меньше контейнера */
  font-size: 70px;
  font-weight: 400;
  line-height: 91.4285714286%;
  text-align: center;
  color: var(--color-main);
}
@media (max-width: 630px) {
  .thanks__title {
    font-size: calc(
        44px + 26 *
          ((100vw - 320px) / 310)
      );
  }
}
.thanks__title:not(:last-child) {
  /* Если меньше контейнера */
  margin-bottom: 75px;
}
@media (max-width: 630px) {
  .thanks__title:not(:last-child) {
    margin-bottom: calc(
        45px + 30 *
          ((100vw - 320px) / 310)
      );
  }
}
.thanks__navigation {
  /* Если меньше контейнера */
  column-gap: 60px;
  row-gap: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width: 630px) {
  .thanks__navigation {
    column-gap: calc(
        20px + 40 *
          ((100vw - 320px) / 310)
      );
  }
}
.thanks__image {
  /* Если меньше контейнера */
  width: 195px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}
@media (max-width: 630px) {
  .thanks__image {
    width: calc(
        145px + 50 *
          ((100vw - 320px) / 310)
      );
  }
}
.thanks__image img {
  max-width: 100%;
}
.thanks__element {
  width: 450px;
  position: absolute;
  right: 150px;
  bottom: -20px;
  z-index: 2;
  animation: animation-cat 2.6s infinite;
}
.thanks__element img {
  max-width: 100%;
}
@media (max-width: 1919.98px) {
  .thanks__element {
    /* Всегда */
    width: calc(
      180px + 270 * ((100vw - 320px) / 1600)
    );
    /* Всегда */
    right: calc(
      -200px + 350 * ((100vw - 320px) / 1600)
    );
  }
}
@media (max-width: 1219.98px) {
  .thanks__element {
    /* Если меньше контейнера */
    width: 220px;
    /* Если меньше контейнера */
    right: 100px;
    bottom: -20px;
  }
}
@media (max-width: 1219.98px) and (max-width: 630px) {
  .thanks__element {
    width: calc(
        170px + 50 *
          ((100vw - 320px) / 310)
      );
  }
}
@media (max-width: 1219.98px) and (max-width: 630px) {
  .thanks__element {
    right: calc(
        40px + 60 *
          ((100vw - 320px) / 310)
      );
  }
}

.thanks-social__title {
  font-family: "Master Zoo";
  /* Если меньше контейнера */
  font-size: 24px;
  font-weight: 400;
  line-height: 83.3333333333%;
  text-align: center;
  color: var(--color-main);
}
@media (max-width: 630px) {
  .thanks-social__title {
    font-size: calc(
        22px + 2 *
          ((100vw - 320px) / 310)
      );
  }
}
.thanks-social__title:not(:last-child) {
  margin-bottom: 10px;
}
.thanks-social__row {
  /* Если меньше контейнера */
  column-gap: 35px;
  row-gap: 15px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
@media (max-width: 630px) {
  .thanks-social__row {
    column-gap: calc(
        15px + 20 *
          ((100vw - 320px) / 310)
      );
  }
}
.thanks-social__icon {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.thanks-social__icon img {
  max-width: 100%;
}
@media (any-hover: hover) {
  .thanks-social__icon {
    transition: transform 0.2s ease 0s;
  }
  .thanks-social__icon:hover {
    transform: translateY(-3px);
  }
}

.thanks-navigation__link {
  font-family: "Master Zoo";
  /* Если меньше контейнера */
  font-size: 40px;
  font-weight: 400;
  line-height: 80%;
  text-decoration: none;
  color: var(--color-main-second);
}
@media (max-width: 630px) {
  .thanks-navigation__link {
    font-size: calc(
        28px + 12 *
          ((100vw - 320px) / 310)
      );
  }
}
@media (any-hover: hover) {
  .thanks-navigation__link {
    transition: color 0.2s ease 0s;
  }
  .thanks-navigation__link:hover {
    color: var(--color-grey);
  }
}

@keyframes animation-show-thanks {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes animation-cat {
  0%, 100% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(-5deg);
  }
}